doctype html
head
  title Expand Your Imagination
  link(rel='stylesheet', href='/static/stylesheets/style.css')
  link(rel="shortcut icon" href="#")
  link(href='https://fonts.googleapis.com/css?family=Gayathri|Hepta+Slab|Raleway&display=swap' rel='stylesheet')
  block content
